<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}Cagnot'potes{% endblock %}</title>

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/materialize.min.css') }}"  media="screen,projection"/>
        <!--Custom styles-->
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/styles.css') }}"  media="screen,projection"/>
        
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        {% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}
        {% if frankenphpHotReload %}
        <meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
        <script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
        <script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
        {% endif %}
    </head>
    <body>
        {% include '_partials/_header.html.twig' %}

        {% block body %}{% endblock %}

        {% include '_partials/_footer.html.twig' %}

        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="{{ asset('assets/js/materialize.min.js') }}"></script>
        <!--Init & custom scripts-->
        <script type="text/javascript" src="{{ asset('assets/js/scripts.js') }}"></script>

    </body>

</html>
